a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.SideBar {
    position: absolute;
    left: 0;
    top: 126;
    width: 300px;
    height: 100vh;
    z-index: 999;

    padding: 0 20px;

    background-color: var(--main-bg);
    box-shadow: var(--shadow);
}

.logo {
    height: 126px;

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    text-align: center;
    color: #22292e;
}

.logo span {
    color: #79bfff;
}

.bar_items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar_item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 20px;

    height: 54px;
    width: 260px;

    border-radius: var(--border-radius);

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;



    right: 0;
    cursor: pointer;
    transition: right ease 0.3s;
}

.bar_item:not(#active):hover {
    right: -20px;
}

.bar_item img {
    margin-right: 10px;
}

#active {
    background-color: var(--main-color);
    color: var(--text-white);
}

#active img {
    filter: brightness(9999);
}
