@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-bg: #ffffff;
    --secondary-bg: #fafafb;

    --text-white: #ffffff;
    --text-color: #455560;
    --grayedOut: #7991a1;

    --main-color: #349eff;
    --secondary-color: #62b4ff;

    --alert: #ff0000;

    --border-radius: 15px;
    --shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}
