.Consultation {
    height: 100%;
}

.Consultation main {
    height: 100%;
    margin-top: 20px;
}
.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #455560;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.go_back {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: auto;

    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.go_back:hover {
    transform: translateX(-4px);
}

.go_back h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    margin-left: 8px;
    color: #349eff;
}

.valider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;

    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.valider:hover {
    transform: translateX(4px);
}

.valider h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    margin-left: 8px;
    color: #349eff;
}

.content {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 15px;
    height: 56%;
	padding: 40px;
    width: 50%;
    margin-right: 10px;
}

.left h2 {
	font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #455560;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-left: 10px;
}

.documents {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}