.LoginCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 500px;
    width: 450px;

    padding: 35px 40px;

    background-color: var(--main-bg);

    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.headings {
    text-align: center;
}

.LoginCard h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #455560;
	margin-bottom: 10px;
}

.LoginCard h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #455560;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
	height: 130px;
}

input {
    width: 100%;

    height: 55px;
    border-radius: var(--border-radius);
    outline: none;
    border: 1px solid rgba(69, 85, 96, 0.53);

    padding: 17px 30px 18px 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
	color: var(--text-color);
}

button {
    height: 50px;
    width: 200px;

    border-radius: var(--border-radius);
    outline: none;
    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    background-color: var(--main-color);
    color: var(--text-white);

    transition: 0.3ms;
}

button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}